<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<!--<li><a href="/cv">CV</a></li>-->
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<img src="https://i.ytimg.com/vi/3dDlSYl3J6c/maxresdefault.jpg" width="350" height="260">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Shiva%27s_statue_at_CERN_engaging_in_the_Nataraja_dance.jpg/170px-Shiva%27s_statue_at_CERN_engaging_in_the_Nataraja_dance.jpg">
			<img src="https://d5wt70d4gnm1t.cloudfront.net/media/a-s/artworks/david-shrigley/35776-915722743371/david-shrigley-untitled-7-800x800.jpg" width="150" height="260">	
			<footer>
	    		<ul>
	        		<li><a href="mailto:dcurry09b@gmail.com">email</a></li>
	        		<li><a href="https://github.com/dcurry09">github.com/dcurry09</a></li>
				<li><a href="https://www.linkedin.com/in/davidcurry09/">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
